<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Metadata for Search Engine -->
    <title>Private Fund Manager</title>
    <meta name="author" content="PoSungKim">
    <meta name="description" content="Private Financial Manager Project">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- http://ogp.me/ -->
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="Private Financial Manager Project">
    <meta property="og:title" content="Code Your Dream">
    <meta property="og:description" content="PFM Project for Better Banking Experience">
    <meta property="og:image" content="SNSImg.png">
    <meta property="og:url" content="/">

    <!-- https://developer.twitter.com/en/docs/tweets/optimize-with-cards/guides/getting-started.html -->
    <meta property="twitter:card" content="summary">
    <meta property="twitter:site" content="BeneBean's Coding">
    <meta property="twitter:title" content="Code Your Dream">
    <meta property="twitter:description" content="Portfolio Website for PoSungKim">
    <meta property="twitter:image" content="SNSImg.png">
    <meta property="twitter:url" content="/">

    <!-- 홈페이지 아이콘 -->
    <link rel="icon" href="../assets/images/shinhan_logo.jpeg" />
    <link rel="apple-touch-icon" href="../assets/images/shinhan_logo.jpeg" />

</head>

<body>
    <div id="root"></div>
    <!-- <script src="bundle.js"></script> -->
</body>

</html>